@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

.mod-pedal-drumtinker {
    --slider-frame-width: 53px;
    --slider-frame-height: 106px;
    --slider-frame-count: 65;
    position: absolute;
    width: 624px;
    height: 624px;
    border-radius: 22px;
    box-sizing: border-box;
    background-image: url(/resources/pedals/boxy75/pink.png{{{ns}}});
    background-size: cover;
    background-position: center center;
    padding: 14px 31px 22px 14px;
    overflow: hidden;
}

.mod-pedal-drumtinker .mod-drag-handle {
    left: 0;
    right: 0;
    top: 0;
    height: 34px;
    position: absolute;
}

.mod-pedal-drumtinker .nt-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mod-pedal-drumtinker .nt-brand {
    font-family: "Nexa";
    font-size: 41px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.mod-pedal-drumtinker .nt-name {
    font-family: "Questrial";
    font-size: 29px;
    line-height: 1;
}

.mod-pedal-drumtinker .nt-header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mod-pedal-drumtinker .mod-light {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background: rgba(0, 0, 0, 0.2);
}

.mod-pedal-drumtinker .mod-light.on {
    background: rgba(0, 0, 0, 0.75);
}

.mod-pedal-drumtinker .mod-footswitch {
    background-image: url(/resources/pedals/footswitch.png{{{ns}}});
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto 106px;
    width: 53px;
    height: 53px;
    cursor: pointer;
}

.mod-pedal-drumtinker .mod-footswitch.on {
    background-position-y: top !important;
}

.mod-pedal-drumtinker .nt-top-controls {
    height: 108px;
    display: flex;
    align-items: flex-end;
    gap: 19px;
}

.mod-pedal-drumtinker .nt-notestart {
    width: 84px;
    height: 101px;
    position: relative;
}

.mod-pedal-drumtinker .nt-notestart .mod-knob-image {
    width: 67px;
    height: 67px;
    margin: 0 auto;
    background-image: url(/resources/knobs/boxy/copper.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 67px;
    background-position: center;
}

.mod-pedal-drumtinker .mod-knob-title {
    display: block;
    text-align: center;
    margin-top: 2px;
    font-family: "Nexa";
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.mod-pedal-drumtinker .nt-legend {
    font-family: "Questrial";
    font-size: 17px;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.35);
}

.mod-pedal-drumtinker .nt-grid {
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content:  space-between
}

.mod-pedal-drumtinker .nt-row {
    height: 101px;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: end;
    column-gap: 24px;
    justify-content: start;
}

.mod-pedal-drumtinker .nt-row-label {
    font-family: "Nexa";
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    padding-right: 6px;
    text-transform: uppercase;
}

.mod-pedal-drumtinker .nt-masters {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    background-color: antiquewhite;
    padding:7px;
}

.mod-pedal-drumtinker .nt-master-knob {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 43px;
    height: 70px;
}

.mod-pedal-drumtinker .nt-master-knob .mod-knob-image {
    width: 41px;
    height: 41px;
    margin: 0 auto;
    background-image: url(/resources/knobs/boxy/copper.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 41px;
    background-position: center;
}

.mod-pedal-drumtinker .nt-master-knob .mod-knob-title {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 1px;
}

.mod-pedal-drumtinker .nt-master-knob .mod-knob-title {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 1px;
}

.mod-pedal-drumtinker .nt-cells {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 7px;
    justify-content: start;
}

.mod-pedal-drumtinker .nt-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    height: 77px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.26);
    padding: 0 5px 2px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.mod-pedal-drumtinker .nt-cell-note {
    width: 100%;
    text-align: center;
    font-family: "Nexa";
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    background-color: white;
}

.mod-pedal-drumtinker .nt-cell-controls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0px;
}

.mod-pedal-drumtinker .nt-cell .mod-knob {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 43px;
    height: 53px;
    position: relative;
    z-index: 2;
}

.mod-pedal-drumtinker .nt-cell .mod-knob-image {
    width: 41px;
    height: 41px;
    margin: 0 auto;
    background-image: url(/resources/knobs/boxy/copper.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 41px;
    background-position: center;
    position: relative;
    z-index: 3;
    display: block;
}

.mod-pedal-drumtinker .nt-cell .mod-knob-title {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 1px;
}

.mod-pedal-drumtinker .mod-knob-image:hover,
.mod-pedal-drumtinker .nt-master-knob .mod-knob-image:hover {
    cursor: pointer;
}

.mod-pedal-drumtinker .mod-pedal-input {
    position: absolute;
    left: -13px;
    top: 146px;
}

.mod-pedal-drumtinker .mod-pedal-output {
    position: absolute;
    right: -13px;
    top: 144px;
    width: 22px;
    height: 250px;
}

.mod-pedal-drumtinker .mod-input,
.mod-pedal-drumtinker .mod-output {
    position: absolute;
}

.mod-pedal-drumtinker .mod-input:nth-child(1) {
    top: 173px;
    left:-70px;
}

.mod-pedal-drumtinker .mod-output:nth-child(1) {
    top: 66px;
}

.mod-pedal-drumtinker .mod-output:nth-child(2) {
    top: 94px;
}

.mod-pedal-drumtinker .mod-output:nth-child(3) {
    top: 121px;
}

.mod-pedal-drumtinker .mod-output:nth-child(4) {
    top: 149px;
}
